body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 4fr 2fr;
    height: 100vh;

    nav {
        grid-area: 1 / 2 / 1 / 5;
        width: 100%;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    
    .topright {
        grid-area: 1 / 7 / 1 / 11;
    }
    
    
    #bottommiddle {
        grid-area: 2 / 4 / 2 / 8;
    }
}
